html,body,p {
    padding: 0;
    margin: 0;
}

table,tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
}

.name {
    width: 4em;
}
